{% extends "base.twig" %}

{% block header %}
	<div>
	<img class="img-responsive" src="{{posts[0].thumbnail}}"></img>
	<a class="btn btn-lg btn-primary btn-front" href="https://www.generosity.com/fundraisers/liberia-samuel-morris-scholars-program" target="_blank">Donate Now for <br /><strong>#GivingTuesday!</strong></a>	
	<header class="header" >
		<h1>{{posts[0].title}} <small>{{posts[0].custom["wpcf-subtitle"]}}</small></h1>
		<h4>
			<span class="col-xs-12 col-sm-8">{{posts[0].post_excerpt}}</span>
			<span class="col-xs-12 col-sm-4"> 
				<a href="/what-we-do"><span class="btn btn-default">Learn More</span></a>
			</span>
		</h4>
	</header>
	</div>
{% endblock %}
	
{% block content %}
	<div class="row"></div>
	<div class="row">
		<div class="media">
			<div class="media-left">
				<img class="img-responsive" src="{{site.theme.link}}/img/arlan.jpg" />
			</div>
			<blockquote class="media-body">
				<p>Samuel Morris touched my life. From the moment I first heard his moving story, my imagination was captured. What happened? How could it have happened? What was God intending to do with and through this young man? How could there be such an enduring impact of a man who died at age 20?</p>
				<p>Eighty-six years after Samuel’s death, I was attending college at Taylor University. I lived for three years on the third floor of the Sammy Morris residence hall and benefited greatly from his positive impact on the spiritual, relational, and educational climate of the university.</p>
				<p>Now, many years later, I am thrilled that Ambassador Enterprises is playing a small part in fulfilling Samuel’s dream of teaching his people. It is my deepest desire that the compelling story of his life, integrated with innovative education resources, will spark a renewed vision of hope for Liberian youth.</p>
				<footer>
					<cite><strong>Arlan Friesen, President</strong><br />Ambassador Enterprises, LLC</cite>
				</footer>
			</blockquote>
		</div>
	</div>
{% endblock %}