{% extends "base.twig" %}

{% block content %}
	{% for activity in activities %}
		<div class="media">
			<div class="media-left">
				<a href="{{activity.link}}"><img class="media-object img-responsive" src="{{activity.thumbnail}}" alt="{{post.title}}"></a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="{{activity.link}}">{{activity.title}}</a></h4>
				<h5 class="media-heading">{{activity.post_date|date("m/d/Y") }}</h5>
				<br />
				{{ activity.get_preview(55) }}
			</div>
		</div>		
	{% endfor %}
{% endblock %}